
html {
	height: 100%;	
}
#details {
	float: left;
	width: 50%;
    height: 50%;
	background-color: #DDD;
}

.content-list-left {
    padding-left: 20%;
    float: left;
}

.content-list-right {
    padding-left: 10%;
    float: left;
}

#reviews {
	float: left;
	width: 50%;
    height: 50%;
	background-color: #DDD;
}